.DS_Store
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.env
/_ide_helper.php
.phpunit.result.cache
.env
.env.test
.env.production
.env.backup
.php-cs-fixer.cache
tools/php-cs-fixer/vendor
fields_sample.json
/public/css
/public/js
/public/images/vendor
/public/mix-manifest.json
/public/img/avatars/*
/public/**/*LICENSE.txt

/storage/*
!/storage/app
!/storage/framework
!/storage/logs
public/index-cn.html
storage/framework/maintenance.php
