@import 'variables';

.tabs {
  display: flex;
  flex-wrap: wrap;

  input[type="radio"] {
    display: none;
  }
  input[type="radio"]:checked + label {
    background: #fff;
    font-weight: bold;
    color: $default-text-color;
  }

  input[type="radio"]:checked + label + .tab {
    display: block;
  }

  label {
    order: 1;
    padding: 1rem 2rem;
    cursor: pointer;
    margin-right: .2rem;
    border-color: $border-color;
    border-style: solid;
    border-width: 1px 1px 0 1px;
  }

  .tab {
    order: 2;
    width: 100%;
    height: 100%;
    display: none;
    padding: 1rem;
  }

}

// author page
article.poet{

  .author-relate {
    color: $gray;
  }
  .poet-gallery{
    display: flex;
    flex-wrap: nowrap;
    max-width: 100%;
    overflow-x: auto;
    gap: 1rem;
    .poet-pic {
      height: 200px;
      max-width: unset;
    }
  }

  .wikidata-link,.weapp-code {
    margin-left: .5em;
  }
  .wikidata-link:before,.wikipedia-link:after{
    transform: scale(1.3);
  }
  .weapp-link {
    position: relative;
    &>img{
      display: none;
      position: relative;
    }
    &:hover>img{
      display: block;
    }
  }
  .weapp-code {
    width: 1.4em;
    height: 1.4em;
  }
  h1{
    display: flex;
    align-items: center;
  }

  .poet-alias-wrapper {
    overflow: hidden;
    height: 30px;
    white-space: nowrap;
    line-height: 12px;
    vertical-align: middle;
    >.poet-alias {
      white-space: nowrap;
      overflow-x: scroll;
      -webkit-overflow-scrolling: touch;
      overflow-y: hidden;
      display: inline-block;
      width: 90%;
      height: 3em;
      box-sizing: content-box;
      vertical-align: middle;
      line-height: 24px;
    }
  }
  .poet-alias-item {
    display: inline-block;
    padding: .1em .2em;
    margin: .2em .3em;
    //border: 1px dotted;
    border-radius: 4px;
  }

  ul{
    list-style: none;
    padding-left: 0;
    //line-height: 3em;
  }

  .tabs-desc {
    input[type="radio"]:checked + label {
      background: $alabaster;
      border-left-color: $alabaster;
      border-right-color: $alabaster;
    }
    .tab {
      background: $alabaster;
      min-height: 2em;
    }
  }
  .tabs-poems {
    label {
      padding-bottom: 0;
      color: $text-muted;
      border: none;
      padding-left: 0;
    }
    .tab {
      padding: 0;
    }
  }
}
