.comments-wrapper{
  padding: 1.2rem 1.6rem;
  background-color: $darker-content-bg-color;
}

section.comments{
  //height: 86px;
  max-width: 50rem;
  //padding: 3.2rem 1.6rem 1.4rem;
  border-radius: .8rem;
  display: flex;
  flex-wrap: wrap;
  text-align: center;

  h4.score-h {
    width: 100%;
    text-align: left;
    font-weight: normal;
    color: $ui-text-color;
    font-size: $font-size-sm;
  }

  &>.left{
    padding: 0 2rem 0 0;
    .score-num {
      display: block;
      font-size: $font-size-extra-large;
      font-weight: 300;
      line-height: 1;
    }
    .user-num{
      display: block;
      font-size: $font-size-sm;
      line-height: 2.8em;
    }
    &.no-score>.user-num{
      line-height: 5.3em;
    }
  }
  &>.right{
    flex-grow: 3;
    text-align: left;
    padding: .2rem 0 0 0;
    display: flex;
    min-height: 8.2rem;
    .star-group{
      width: 6rem;
      .stars{
        display: block;
        height: 1.3rem;
        width: 100%;
        //#star,svg,use{
        //  -webkit-transform-box: fill-box;
        //  transform-box: fill-box;
        //}
      }
    }
    .bars{
      margin-left: .6em;
      flex-grow: 1;
      padding-top: .2rem;
      .bar{
        display: block;
        background-color: $gray-lighter;
        height: .8rem;
        border-width: .7rem 0;
        margin: 0 0 .5rem 0;
        width: 100%;
        .bar-percent>.bar-inner{
          animation: width-stretch 1s ease;
          background-color: $yellow;
        }
      }
    }

  }

  &>section.rate{
    display: flex;
    height: 5rem;
    width: 100%;
    max-width: 50rem;
    border: solid $gray-lighter;
    border-width: .1rem 0 .1rem 0;
    .left{
      width: 10rem;
      margin-bottom: 0;
      flex-grow: 1;
      flex-shrink: 1;
      justify-content: flex-start;
      display: inline-block;
      font-size: 1em;
      text-align: left;
      .unrate{
        margin-left: 1em;
      }
    }

    .starability-slot{
      //width: 15rem;
      min-height: 3rem;
      overflow: hidden;
      zoom: .78;
      padding-top: .2rem;

      input[type="radio"]:focus+label{
        outline: 0;
      }
    }
  }
}

h4.review-h {
  color: $ui-text-color;
  font-weight: bolder;
  position: relative;
  border-radius: .8rem .8rem 0 0;
  padding: .8rem 0 .64rem;
}

.review {
  padding: .8rem 0 .64rem;
  border-radius: 0 0 .8rem .8rem;
  font-weight: lighter;
  ol{
    padding-left: 0;
    list-style: none;
  }
}