/**
 * reset rules, global layout, top nav menu, animations, customs utils
 */
@import 'menu';
@import 'poemwiki.scss';
@import '_variables';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --link: 222.52 100% 49.8%;
    --muted           : 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover           : 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --card           : 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input : 214.3 31.8% 91.4%;

    --primary           : 222.2 47.4% 11.2%;
    --primary-foreground: 0 0% 100%;

    --secondary           : 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent           : 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive           : 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
    --alabaster: $alabaster;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted           : 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --popover           : 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --card           : 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --link: 222.52 100% 90%;
    --border: 216 34% 17%;
    --input : 216 34% 17%;

    --primary           : 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary           : 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --accent           : 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --destructive           : 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

:root {
  --main-color: transparent;
  --main-color-next: transparent;
}

[v-cloak] {
  display: none !important;
}

ol{
  list-style-type: none;
  padding: 0;
}

pre {
  margin-bottom: 0;
}

a {
  color: $blue;
  transition: background-color .4s ease,color .4s ease,border-radius .4s ease;
  font-weight: normal;
  padding: .2em 0;
  &:hover{
    text-decoration: none;
    color: $white;
    background-color: $blue;
  }

  &.no-bg{
    background: none;
    color: $default-text-color;
    &:hover{
      background: none;
      color: $blue;
    }
  }

  &.fancy-underline{
    text-decoration:none;
    transition: all .13s ease;
    &:hover {
      text-decoration: none;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .0) 50%, $black 50%) repeat-x 0 1.0em;
      background-size: .1em .1em;
    }
  }

}

::selection {
  color: $white;
  background-color: $transparent-black;
}

.no-select {
  user-select: none;
}


/* global layout */

html, body {
  color: $default-text-color;
  font-size: 62.5%;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  min-height: 100%;
  margin: 0;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

body{
  font-size: $body-font-size-in-px;
  background-color: $bg-color;
  overflow: hidden auto;
  overscroll-behavior-y: none;
  // see https://www.zhangxinxu.com/wordpress/2015/01/css-page-scrollbar-toggle-center-no-jumping/
  padding-left: calc(100vw - 100%);
}
.main-wrapper {
  width: 100%;
  min-height: calc(100vh - 6rem - 1px);
  &>main {
    margin: 0 auto;
    overflow: hidden;
    background-color: $bg-color;
    min-height: calc(100vh - 6rem - 1px);
    @screen md {
      width: theme('screens.md.min');
    }
    .page{
      padding: 2rem 1.6rem 4rem;
    }
  }
}


/* custom utils */

.btn {
  color: $blue;
  background-color: transparent;
  display: inline-block;
  line-height: 1.2em;
  &:focus{
    outline: none;
  }
  &.btn-wire{
    //background-color: darken($blue, 7);
    //color: #fff;
    padding: .5em 1em;
    border: 1px solid $blue;
    border-radius: .618em;
    transition: .4s ease-in-out;
    transition-property: border-radius, background-color, box-shadow;
    &:hover{
      color: $white;
      border-radius: 1em;
      background-color: $blue;
      background: linear-gradient(315deg, $blue, darken($blue, 8));
      box-shadow: -.2em -.2em 1em #d8d8d8, .5em .5em 1em $white;
    }
  }
}

.btn-grey {
  color: gray;
}

.soft-wrap, .soft-wrap pre {
  white-space: normal!important;
}
.text-justify {
  text-align: justify;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-vertically {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.full-height {
  height: calc(100vh - env(safe-area-inset-top) - 6rem - 1px);
}

.error-page{
  >.message{
    height: calc(100vh - 12rem);
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  font-size: $font-size-larger;
  font-weight: bolder;
  vertical-align: unset;
  margin: 0;

  &.title-bar:before {
    content: 'â–';
    vertical-align: unset;
    animation: fadein 5s ease;
    color: var(--main-color);
  }
}

.first-line{
  display: block;
  font-size: $font-size-sm;
  height: 1.2em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  color: $gray!important;

  >span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    transition: transform .666s $soft-enter-bezier, opacity 1.333s $soft-enter-bezier;
  }
}

.title-list-item{
  position: relative;
  width: 100%;
  >a.title{
    padding: .8em 0 0 0;
    width: 100%;
    display: inline-block;
    color: $blue;
    line-height: 1.2em;
    overflow-y: hidden;

    &>span{
      display: inline-block;
    }

    &:before{
      opacity: 0;
      animation: none;
      transition: opacity 1.2s ease-out;
      color: var(--title-color); // attr(data-color color);
    }
    &:hover{
      cursor: pointer;
      &:before{
        opacity: 1;
      }
    }
  }

  .first-line{
    position: relative;
  }
  .title-bar+.first-line {
    padding-left: $font-size-larger-in-px;
  }
}

.show-first-line .first-line>span{
  transform: translateY(0);
  opacity: 1!important;
}

.avatar-wrapper { /* for author show page */
  width: 106px;
  height: 106px;
}
.verify-avatar {
  background-repeat: no-repeat;
  background-position: 110% 110%,0;
  background-size: 40%,100%;
  width: 100%;
  height: 100%;
}


/* animations */

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  /* opacity: 1; default already is 1 */
  transition: opacity 3s;
}
.fade-leave {
  /* opacity: 1; default already is 1 */
}
.fade-leave-active {
  opacity: 0;
  transition: opacity 3s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@keyframes width-stretch {
  from { width: 0; }
  to   { width: 100%; }
}
@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(.9)
  }

  100% {
    opacity: 1
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.loading-box {
  width: 1em;
  height: 1em;
  position: relative;
  &:before {
    content: '';
    width: 1em;;
    height: .14em;
    background: #000;
    opacity: 0.1;
    position: absolute;
    top: 1.3em;
    left: 0;
    border-radius: 50%;
    animation: loading-box-shadow .5s linear infinite;
  }
  &:after {
    content: '';
    width: 1em;;
    height: 1em;;
    background: #C8E8BA;
    animation: loading-box-animate .5s linear infinite;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: .08em;
  }
}

@keyframes loading-box-animate {
  17% {
    border-bottom-right-radius: .05em;
  }
  25% {
    transform: translateY(.2em) rotate(22.5deg);
  }
  50% {
    transform: translateY(.5em) scale(1, .9) rotate(45deg);
    border-bottom-right-radius: .8em;
  }
  75% {
    transform: translateY(.2em) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

@keyframes loading-box-shadow {
  0%, 100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}