

@import "form-common";



main {
  flex: 1;
  padding: 1.6rem 1.6rem 2rem;
}
.card {
  border: none;
  .card-header {
    @apply text-xl font-bold;
    a {
      padding: 0;
    }
  }

  .form-control{
  }
}