/* purgecss start ignore */
@tailwind  base;
@tailwind  components;
/* purgecss end ignore */

@tailwind utilities;

@import 'variables';
@import "vue-select/src/scss/vue-select.scss";
//@import '~bootstrap/scss/bootstrap-reboot';
//@import 'css/MajorMonoDisplayFont.css';
//@import 'css/starability-slot.css';

input[type],select {
  @apply text-base;
}

.wiki-form{
  @apply text-base;
  label {
    @apply mt-4 block w-full text-base font-bold px-0.5;
    &.required:after {
      content: '*';
      vertical-align: middle;
      margin-left: .5em;
      @apply text-red-500;
    }
  }
  input[type=text],select {
    @apply mt-0 block w-full px-0.5 border-0 border-b border-gray-200 focus:ring-0 focus:border-black text-base placeholder-gray-300;
  }
  textarea{
    @apply mt-0 block w-full px-0.5 border border-b border-gray-200 rounded-md focus:ring-0 focus:border-black text-base placeholder-gray-300;
  }

  .form-control-feedback {
    @apply px-0.5 text-red-500;
    min-height: 2.4rem;
    transition: opacity 1s;
  }

  .vs__dropdown-menu {
    overflow-x: hidden;
  }

  .author-option {

  }
  .author-option-source {
    padding: 0 4px;
    line-height: 5em;
    height: 5em;
  }
  .author-option-label {
    position: absolute;
    display: block;
    top: 6px;
    left: 4.1em;
    line-height: 1.2em;
    &:before{
      line-height: 1.0em;
    }
  }
  .author-option-desc {
    position: absolute;
    display: block;
    bottom: 6px;
    left: 5.4em;
    line-height: 1em;
    font-size: 12px;
    color: gray;
  }
  .vs__dropdown-option{
    position: relative;
    line-height: 4em;
    height: 4em;
    padding-left: 4.2em;
  }
  .vs__dropdown-option--highlight {
    .poemwiki-link:before {
      background-color: transparent;
    }
    .author-option-source,
    .author-option-desc {
      background-color: $vs-state-active-bg;
      color: $white;
    }
  }

  .author-option-avatar {
    position: absolute;
    top: 0;
    left: 0;
    width: 4em;
    height: 4em;
    padding: 6px;
    object-fit: cover;
    color: $gray;
    //font-size: 10px; //for alt text
    //text-overflow: clip;
  }
}

@import 'menu';
@import 'poemwiki.scss';
[v-cloak] {
  display: none !important;
}
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  /* opacity: 1; default already is 1 */
  transition: opacity 3s;
}
.fade-leave {
  /* opacity: 1; default already is 1 */
}
.fade-leave-active {
  opacity: 0;
  transition: opacity 3s;
}

ol{
  list-style-type: none;
  padding: 0;
}

a {
  color: $blue;
  transition: background-color .4s ease,color .4s ease,border-radius .4s ease;
  font-weight: normal;
  padding: .2em 0;
  &:hover{
    text-decoration: none;
    color: $white;
    background-color: $blue;
  }

  &.no-bg{
    background: none;
    color: $default-text-color;
    &:hover{
      background: none;
      color: $blue;
    }
  }

  &.fancy-underline{
    text-decoration:none;
    transition: all .13s ease;
    &:hover {
      text-decoration: none;
      background: linear-gradient(to bottom, rgba(0, 0, 0, .0) 50%, $black 50%) repeat-x 0 1.0em;
      background-size: .1em .1em;
    }
  }

}

.btn {
  font-size: $font-size-sm;
  color: $blue;
  background-color: transparent;
  display: inline-block;
  margin-left: 1em;
  line-height: 1.2em;
  &:focus{
    outline: none;
  }
  &.btn-wire{
    //background-color: darken($blue, 7);
    //color: #fff;
    padding: .5em 1em;
    border: 1px solid $blue;
    border-radius: .618em;
    transition: .4s ease-in-out;
    transition-property: border-radius, background-color, box-shadow;
    &:hover{
      color: $white;
      border-radius: 1em;
      background-color: $blue;
      background: linear-gradient(315deg, $blue, darken($blue, 8));
      box-shadow: -.2em -.2em 1em #d8d8d8, .5em .5em 1em $white;
    }
  }
}

.btn-grey {
  color: gray;
}

.soft-wrap {
  white-space: normal!important;
}
.text-justify {
  text-align: justify;
}

.flex-center {
  align-items: center;
  display: flex;
  justify-content: center;
}

.flex-center-vertically {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}
@keyframes width-stretch {
  from { width: 0; }
  to   { width: 100%; }
}
@keyframes scale-in {
  0% {
    opacity: 0;
    transform: scale(.9)
  }

  100% {
    opacity: 1
  }
}
@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(100%)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.full-height {
  height: calc(100vh - env(safe-area-inset-top));
}

html, body {
  color: $default-text-color;
  font-size: 62.5%;
  font-family: $font-family-sans-serif;
  font-weight: normal;
  min-height: 100%;
  margin: 0;
}

html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}


::selection {
  color: $white;
  background-color: $transparent-black;
}
body{
  font-size: $body-font-size-in-px;
  background-color: $bg-color;
  overscroll-behavior-y: none;
}
.main-wrapper {
  height: calc(100vh - 6rem);
  margin-top: 6rem;
  overflow: hidden overlay;
}
// see https://www.zhangxinxu.com/wordpress/2015/01/css-page-scrollbar-toggle-center-no-jumping/
main {
  width: 100%;
  height: calc(100vh - 6rem);
  padding-left: calc(100vw - 100%);
  overflow: hidden visible;
  z-index: 2;
  //position: sticky;
  background-color: $bg-color;
  .page{
    margin: 0 auto;
  }
}


main>.page {
  padding: 2rem 1.6rem;
}
@media (min-width: theme('screens.md.min')) {
  main>.page {
    width: theme('screens.md.min');
  }
}

.error-page{
  >.message{
    line-height: calc(100vh - 12rem);
    font-weight: bolder;
    text-align: center;
  }
}


.title {
  font-size: $font-size-larger;
  font-weight: bolder;
  vertical-align: unset;
  margin: 0;

  &.title-bar:before {
    content: 'â–';
    vertical-align: unset;
    animation: fadein 5s ease;
    color: rgba(255, 255, 255, 0);
    color: var(--main-color);
  }
}
.first-line{
  display: block;
  font-size: $font-size-sm;
  height: 1.2em;
  line-height: 1.2em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  color: $gray!important;


  >span {
    display: inline-block;
    opacity: 0;
    transform: translateY(100%);
    transition: transform .666s $soft-enter-bezier, opacity 1.333s $soft-enter-bezier;
  }
}
.show-first-line .first-line>span{
  transform: translateY(0);
  opacity: 1!important;
}


.avatar-wrapper { /* for author show page */
  width: 106px;
  height: 106px;
}
.verify-avatar {
  background-repeat: no-repeat;
  background-position: 110% 110%,0;
  background-size: 40%,100%;
  width: 100%;
  height: 100%;
}
