.title {
  font-size: $font-size-larger;
  font-weight: 400;
  vertical-align: unset;
  margin: 0;
  &:before {
    content: 'â–';
    vertical-align: unset;
    animation: fadein 5s ease;
    color: rgba(255, 255, 255, 0);
    color: var(--main-color);
  }
  @include media-breakpoint-down(xs) {
    font-size: $font-size * 1.2;
  }
}

section.poem {
  min-width: 90%;
  height: 100%;
  overflow: auto;
  padding: 2rem 1.6rem;

  article{
    .title{
      margin-bottom: 1.6rem;
    }
    .preface{
      color: $gray;
      text-indent: 2em;
    }
    .subtitle{
      font-size: 1.1em;
      font-weight: bolder;
    }

    pre{
      font-size: $font-size;
      line-height: 2;
      animation: fadein 2s ease-out;
      @include media-breakpoint-down(xs) {
        font-size: $font-size;
      }
    }
    .title::selection, pre::selection {
      color: var(--main-color);
      background-color: transparent;
    }


    dl.poem-info{
      line-height: 1em;
      margin: 3.2rem 0 0;
      font-size: $font-size-sm;
      dt,dd{
        display: inline;
        line-height: 2;
      }
      dt{
        color: $gray;
        font-weight: normal;
        &:before{
          content: "";
          display: block;
        }
      }
      dd{
        &:before{
          content: "";
          display: inline-block;
          width: 1em;
        }
        >*{
          display: inline;
        }
      }
      .poem-nation{
        margin-right: .4em;
      }
      &.poem-versions{
        a:hover>dt{
          color: $white;
        }
      }
    }
    .btn.edit{
      //font-weight: lighter;
    }

    ol.contribution {
      list-style: none;
      padding-left: 0;
      font-size: $font-size-sm;
      color: $gray;
      >#folder{
        display: none;
      }
      &.collapsed{
        .log-middle {
          display: none;
        }
        >#folder{
          display: inline-block;
        }
      }
      a{
        color: unset;
        &:hover{
          background-color: unset;
        }
      }
    }

    a.create{
      //background-color: darken($blue, 7);
      //color: #fff;
      padding: .5em 1em;
      border: 1px solid $blue;
      border-radius: .618em;
      transition: .4s ease-in-out;
      transition-property: border-radius, background-color, box-shadow;
      &:hover{
        border-radius: 1em;
        background-color: $blue;
        background: linear-gradient(315deg, $blue, darken($blue, 8));
        box-shadow: -.2em -.2em 1em #d8d8d8, .5em .5em 1em $white;
      }
    }
  }

}

nav.next{
  margin: 3rem 0 3rem 0;
  padding: 2rem 1.6rem;
  >span{
    color: $gray;
    font-size: $font-size-sm;
  }
  >a{
    display: block;
    height: 2.2em;
    color: $default-text-color;
    //text-align: center;
    &:before{
      color: var(--main-color-next);
    }
  }
  >p.first-line{
    font-size: $font-size-sm;
    line-height: 1em;
    opacity: 0;
    color: $gray;
    transition: opacity .8s ease-out;
    @include media-breakpoint-down(xs){
      opacity: 1;
    }
  }
  >a:hover+p.first-line{
    opacity: 1!important;
  }
}