@import 'variables';
@import '~bootstrap/scss/bootstrap-reboot';
@import 'css/MajorMonoDisplayFont.css';
@import 'css/starability-slot.css';


@import "fe-common";
@import "poem";
@import "comments";

// poet page
article.poet{
  padding: 2rem 1.6rem;
  ul{
    list-style: none;
    padding-left: 0;
    line-height: 3em;
    >li{
      position: relative;
      >a.title{
        //padding-left: 1.6rem;
        display: inline-block;
        width: 100%;
        line-height: 2em;
        overflow-y: hidden;

        &>span{
          //vertical-align: bottom;
          display: inline-block;
          //transform: translateY(100%);
          //animation: appear .75s ease-out forwards;
        }

        &:before{
          opacity: 0;
          animation: none;
          transition: opacity 1.2s ease-out;
          color: var(--title-color); // attr(data-color color);
        }
        &:hover{
          cursor: pointer;
          &:before{
            opacity: 1;
          }
        }
      }
      &>p.first-line{
        padding-left: $font-size-larger-in-px;
        font-size: $font-size-sm;
        height: 1em;
        line-height: 1em;
        color: $gray;
        overflow-y: hidden;

        &>span{
          //transform: translateY(0);
          animation: none;
          @include media-breakpoint-up(sm){
            display: inline-block;
            opacity: 0;
            transform: translateY(100%);
          }
        }
      }
      &:hover{
        @include media-breakpoint-up(sm){
          >p.first-line>span{
            animation: appear .2s ease-out forwards;
          }
        }
      }
    }
  }
}

