@import 'variables';
@import '~bootstrap/scss/bootstrap-reboot';
//@import url('https://unpkg.com/element-ui/lib/theme-chalk/index.css');
// Fonts
@import url('./MajorMonoDisplayFont.css');

@import 'menu';

a {
  color: $blue;
  &:hover{
    text-decoration: none;
    color: $white;
    background-color: $blue;
  }

  &.no-bg{
    background: none;
    &:hover{
      background: none;
    }
  }

  &.fancy-underline{
    text-decoration:none;
    transition: all .13s linear;
    &:hover {
      text-decoration: none;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0) 50%, #000000 50%) repeat-x 0 1.0em;
      background-size: .1em .1em;
    }
  }
}
.btn {
  font-size: .86rem;
}

.no-select {
  user-select: none;
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.full-height {
  height: 100vh;
}

html, body {
  color: $default-text-color;
  font-family: $font-family-sans-serif;
  font-weight: lighter;
  min-height: 100%;
  margin: 0;
  //background-color: rgba(255, 41, 65, 0.08);
  //animation: fadein 2s ease;
}


.position-ref {
  position: relative;
}
main.post {
  min-width: 90%;
  height: 100%;
  overflow: auto;
  padding: 2em 1em;
  //color: #fff;

  article{
    .title {
      font-size: 1.5rem;
      font-weight: 400;
      //animation: fadein 2s ease;
      vertical-align: unset;
      &:before {
        content: 'â–';
        vertical-align: unset;
        //opacity: 1;
        color: rgba(255, 255, 255, 0);
        color: var(--main-color);
        animation: fadein 5s ease;
      }
    }

    pre{
      font-size: 1.1rem;
      line-height: 2;
      animation: fadein 2s ease;
    }

    dl.poem-info{
      line-height: 1em;
      margin-top: 2rem;
      font-weight: 300;
      dt,dd{
        display: inline;
        line-height: 2;
      }
      dt{
        color: $gray;
        font-weight: 300;
        &:before{
          content: "";
          display: block;
        }
      }
      dd{
        &:before{
          content: "";
          display: inline-block;
          width: 1em;
        }
        >*{
          display: inline;
        }
      }
    }

  }


  .review {
    margin-top: 3rem;
    >h4 {
      color: $gray;
      font-weight: 300;
      position: relative;
      border-bottom: 1px solid $gray;

      .add-comment{
        display: block;
        position: absolute;
        bottom: 0;
        right: 1em;
      }
    }
  }
}
