// Variables
@import "variables";

// Vendor
@import "vendor/index";

// Your own, project specific styles
@import "styles/index";
@import "../MajorMonoDisplayFont.css";
@import "../_variables";
.logo {
  font-family: "Major Mono Display", monospace, sans-serif;
  color: #000;
  white-space: pre-line;
  display: inline-block;
  vertical-align: middle;
  height: 2.9em;
  line-height: 1em;
}
.navbar-brand img{
  width: 3em;
  display: inline-block;
  vertical-align: text-bottom;
  zoom: 1.6;
}
.col-form-label{
  color: $mutedText;
  font-weight: bold;
}
.form-control {
  background-position-x: 97%;
  background-position-y: 0.5rem;
  color: #111;
}
.CodeMirror {
  border: 1px solid #eee;
  height: auto!important;
}
#poem {
  border: 1px solid #b9c8de;
  pre{
    font-size: .8rem;
    line-height: 2;
    font-family: $font-family-serif;
  }
}
